body {
    background: url(./thimo-pedersen-dip9IIwUK6w-unsplash.jpg);
    background-attachment: fixed;
}

.kontainer {
    width: 500px;
    margin: 5em auto;
    padding: 2em;
    background: rgb(248, 202, 101);
}

select, button {
    margin: 0.8em 0;
}