.kontainer {
    width: 800px;
    padding: 2em;
    margin: 2em auto;
    background-color: #e0e0e0;
}


form {
    margin: 2em;
    background: #fff;
    padding: 2em;
    border-radius: 1em;
}

h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
    margin-left: 2em;
}